.footer {
    z-index: 1;
    width: 99%;
    height: 9em;
    margin: .5%;
    border-radius: .5em;
    background: $bg-color;
    color: $font;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {

        font-size: 20px;

        a {
            color: $font;
        }
    }
}