.home {
    &__cars {

        display: flex;
        column-count: 2;
        justify-content: space-around;
        flex-wrap: wrap;

        &__car {
            padding: 20px;
            -webkit-box-shadow: 0px 0px 20px -3px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 0px 20px -3px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 0px 20px -3px rgba(34, 60, 80, 0.2);

            &-photo {
                height: 25em;
                width: 40em;
                overflow: hidden;
            }

            margin-bottom: 50px;

            &-btn {
                background: $bg-color;
                font-size: 15px;
                color: $font;
                border: none;
                cursor: pointer;
                border-radius: 10px;
                padding: 10px 15px;
            }
        }
    }
}